h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

p {
    line-height: 120%;
}

a {
    white-space: nowrap;
}

.small {
    font-size: 30px;
}

.small2 {
    padding-left: 50px;
    font-size: 25px;
}

.imgSlide {
    position: relative;
    line-height: 0%;
}

.imgSlide>img {
    width: 100%;
}

.imgSlide>div {
    width: 100%;
}

.imgSlide>div>img:first-child {
    float: left;
}

.imgSlide>:last-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    font-size: 25px;
    transition: 0.25s;
}

.imgSlide>:last-child:hover {
    opacity: 1;
}

.tTable {
    border-spacing: 0;
    filter: blur(1px);
    transition: 0.5s;
}

.present .tTable {
    filter: blur(0px);
}

.tTable td {
    overflow: hidden;
}

.tTable div {
    width: 20.00px;
    height: 34.64px;
}

.tLeft {
    background: #666;
    transform: matrix(1, 0, -1, 1.732, 0, 0);
    transform-origin: bottom left;
}

.tRight {
    background: #666;
    transform: matrix(1, 0, 1, 1.732, 0, 0);
    transform-origin: bottom right;
}

.tText {
    position: absolute;
    left: 700px;
    bottom: 64px;
    width: 50%;
    transform: rotate(-30deg);
    transform-origin: bottom left;
}
